<h3> Welcome to your Dashboard. What would you like to do? </h3>

<h4><%= link_to "See Equipment List", equipment_index_path %></h4>
<h4><%= link_to "See and Schedule Trainings", trainings_path %></h4>
<h4><%= link_to "Sign Out", "/sessions/destroy", method: "delete" %></h4>