<h2> Welcome to Simroom. Get started scheduling trainings by logging in or signing up. </h2>

<h3> <%= link_to "Log In", new_session_path %> </h3>
<h3> <%= link_to "Sign Up", new_user_path %> </h3>
<h3> <%= link_to "Log In with GitHub", '/auth/github' %> </h3>