fieldset {
    background-color: lightblue;
}

legend {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    font-variant: small-caps;
    background-color: grey;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #000000;
}

a {
    color: white;
    background-color: #f44336;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: grey
}

button:hover, input[type=submit]:hover {
    color: #f44336;
}

button, input[type=submit] {
    background-color: grey;
    border: none;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* a.whatever {
    background-color:grey;
} */

